.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        min-width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            padding: 0px 10px;
        }
    }
}